[user]
	name = Arthur.Qin  # TODO: change it
	email = magus0219@gmail.com  # TODO: change it

[core]
    editor = vim
	ignorecase = false
	autocrlf = input

[url "https://github.com/"]
	insteadOf = gh:

[color]
	ui = true

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold

[color "status"]
	added = yellow
	changed = green
	untracked = red

[http "https://github.com"]
	proxy = socks5://127.0.0.1:1086  # shadowsocks proxy
